.footer {
  width: 100vw;
  height: fit-content;

  padding: 12vh 16vw;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;

  gap: 2vh 0;

  h1 {
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    justify-items: space-between;
    align-items: center;
    gap: 0 6px;

    font-size: 1.4rem;
    color: #000;
  }
}
